<% provide(:title, "Admin | Teachers | Edit") %>
<% provide(:active, "teachers") %>

<% content_for :breadcrumb do %>
	<%= render 'shared/breadcrumb', path: [path("Домой", "/"), path("Личный кабинет", "/admin"), path("Учителя", "/admin/teachers"), path("Редактор", "/admin/teachers/new")] %>
<% end %>

<div id='n'>

	<h4 id='cr'>Редактировать:</h4>

	<% if @teacher.errors.any? %>
	<div class="alert alert-danger mt-4">
		<ul>
		<% @teacher.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<%= form_for @teacher, url: "/admin/teachers/#{@teacher.id}/save" do |f| %>
		<div class="form-group">
			<%= f.label :ФИО %>
			<br>
			<%= f.text_field :name, class: "w-75" %>
		</div>

		<div class="form-group">
			<%= f.label :Предмет %>
			<br>
			<%= f.text_field :subject, class: "w-75" %>
		</div>

		<div class="form-group">
			<%= f.label :Комментарий %>
			<br>
			<%= f.text_area :description, class: "w-75" %>
		</div>

		<div class="form-group">
			<%= f.label :Фото %>
			<br>
			<%= f.file_field :photo %>
		</div>

		<%= f.submit "Обновить", class: "btn btn-primary" %>
	<% end %>
</div>